---
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.testAction);
console.log("testAction result", result);
if (result) {
  return Astro.rewrite("/500");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <form method="POST" action={actions.testAction}>
      <button type="submit">Click me</button>
    </form>
  </body>
</html>
